
.mod-panel {
  .panel {
    box-shadow: none;
  }
      .panel-body {
      //background-color: lighten($ps-bg, 10);
      background-color: transparent;
    }
    
  .panel-primary {
    background-color: transparent;

    //border-color: $gray-lighter;
    //border: none;
      @include transition((
        border-color $transition-duration0 $transition-function,
        color $transition-duration0 $transition-function
      ));

    .panel-heading {
      @include transition((
        background-color $transition-duration0 $transition-function,
        color $transition-duration0 $transition-function
      ));
      color: $ps-bg;
    }

    .panel-body {
      @include transition((
        border-color $transition-duration0 $transition-function,
        color $transition-duration0 $transition-function
      ));
    }


    &.text-muted {
       // 
        // color: lighten($gray-light, 30);
        //opacity: .25;
        cursor: default;
        border-color: darken($brand-primary, 30);
          
        .panel-body,
        .panel-title a {
          cursor: default;
        }

        > .panel-heading {
           //background-color: lighten($ps-bg, 10);

           background-color: transparent;
           //border-color: $brand-primary;
           color: darken($brand-primary, 30);

           + .panel-collapse > .panel-body {
            border-top-color: darken($brand-primary, 30);          
          }
        }

        

        .panel-body {
          color: darken($brand-primary, 30);
        }
    }


    // &:not(.text-muted):not(.is-open) > .panel-heading:hover {
    //     //background-color: darken($navbar-default-bg, 3.25%);
    //     //border-color: darken($panel-default-border, 5);
    //   }

    &.is-open > .panel-heading {
        //background-color: $navbar-default-link-active-bg;
        //border-color: darken($panel-default-border, 10);
        border: none;

        .panel-title a::before {
          @include transform(rotate(90deg));
        }
      }



    
  }

  .panel-title {
    > a {
      cursor: pointer;
      text-decoration: none;
      display: block;
      //padding: 10px 15px;

      &::before {
        @extend %fa;
        content: "\f105";
        transition:transform $transition-duration0 $transition-function;
        @include transform(rotate(0deg));
      }
    }
  }
}