.mod-panel {
  .panel {
    box-shadow: none;
  }

  .panel-body {
    background-color: transparent;
  }

  
    
  .panel-primary {
    background-color: $ps-bg-dark;
    border-color: $brand-primary-dark;
  
    @include transition((
      border-color $transition-duration0 $transition-function,
      color $transition-duration0 $transition-function
    ));

    @include transition(
      opacity $transition-duration0 $transition-function      
    );

    > .panel-heading {      
      background-color: transparent;
      @include transition(color $transition-duration0 $transition-function);
      color: $brand-primary;

      + .panel-collapse > .panel-body {
        border-top-color: $brand-primary-dark
      }
    }

    .panel-body {      
      @include transition((
        border-color $transition-duration0 $transition-function,
        color $transition-duration0 $transition-function
      ));
    }


    &.text-muted {
      cursor: default;
      color: $brand-primary;
      //border-color: darken($brand-primary, 30);
      opacity: .65;

      .panel-body,
      .panel-title a {
        cursor: default;
      }
    }    

    &.is-open > .panel-heading {  
      border: none;

      .panel-title a::before {
        @include transform(rotate(90deg));
      }
    }
  }

  .panel-title {
    > a {
      cursor: pointer;
      text-decoration: none;
      display: block;

      &::before {
        @extend %fa;
        content: "\f105";
        transition:transform $transition-duration0 $transition-function;
        @include transform(rotate(0deg));
      }
    }
  }
}