.header {
  background: $brand-danger;
  border-bottom: 5px solid $brand-primary;
  //position: relative;
  //overflow: hidden;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   width: 110%;
  //   top: -10px;
  //   transform: skewY(-5deg);
  //   background: $brand-danger;
  //   padding-top: 150px;
  // }

  div {
    @extend .container;
    // min-height: 150px;
    // transform: skewY(-5deg);
    // padding-top: 20px;
    padding: 4em 15px 2em;
  }
}

.page-header {
  padding: 0;
  margin: 0;

  color: $brand-primary;
  font-size: 40px;
  font-family: 'Arvo', serif;  
  font-weight: 500;

  small {
    color: darken($brand-primary, 15);
  }
}





