// .fadeZ.ng-enter {
//   @include animation-duration(.5s);
//   @include animation-name(zoomInZ);
// }


// @-webkit-keyframes zoomInZ {
//   0% {
//     opacity: .25;
//   }

//   50% {
//     opacity: 1;
//   }
// }

// @keyframes zoomInZ {
//   0% {
//     opacity: .25;

//   }

//   50% {
//     opacity: 1;
//   }
// }
.fadeZ.ng-enter {
  @include animation-duration($transition-duration1);
  @include animation-name(fadeInDown);
  @include animation-timing-function($transition-function);  
  @include animation-delay($transition-duration0);
  @include animation-fill-mode(both);
}

.fadeZ.ng-leave {
  @include animation-duration($transition-duration0);
  @include animation-name(fadeOutUp);
  @include animation-timing-function($transition-function);
  @include animation-fill-mode(both);
}

////////////////////////////////////////////////////////////////


.fadeZoom.ng-enter {
  @include animation-duration(.5s);
  @include animation-name(zoomIn);
}




@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    @include transform(scale3d(.98, .98, .98));
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    @include transform(scale3d(.98, .98, .98));
  }

  50% {
    opacity: 1;
  }
}



////////////////////////////////////////////////////////////////////////////////////////////////////




@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}



////////////////////////////////////////////////////////////////////////////////////////////////////





@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    @include transform(translate3d(0, -10%, 0));    
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    @include transform(translate3d(0, -10%, 0));    
  }
}

// .fadeOutUp {
//   @include animation-name(fadeOutUp);  
// }



////////////////////////////////////////////////////////////////////////////////////////////////////




@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    @include transform(translate3d(0, -10%, 0));
  }

  100% {
    opacity: 1;
    @include transform(none);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;    
    @include transform(translate3d(0, -10%, 0));
  }

  100% {
    opacity: 1;
    @include transform(none);
  }
}

// .fadeInDown {  
//   @include animation-name(fadeInDown);
// }










