html {
  background: url(img/wallpaper-2988644.jpg);
  
}
body {
  background-color: #ffffff;
}

img  {
    &.gc {
      -webkit-filter: invert(.8) grayscale(1) brightness(1.3);
    }
    &.flip-h {
        -webkit-transform: scaleX(-1);
    }
}