html {
  
 background-color: #ffffff; 
 // background-image: url(img/OUnBZLK.jpg);
 // background-size: cover;

}
// body {
  
// }

img  {
    &.gc {
      -webkit-filter: invert(.8) grayscale(1) brightness(1.3);
    }
    &.flip-h {
        -webkit-transform: scaleX(-1);
    }
}