html, body, #wrapper /* #page-content-wrapper
.container-fluid  */{
   height: 100%;
}


  // .container-fluid > .col-lg-12 {
  //   padding: 0;
  //   @media (min-width: $screen-sm-min) {
  //     min-height: 100%;
  //     padding-bottom: $navbar-minheight;
  //     position: relative;
  //   }
  // }

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}



////////////////////////////////////////////


html {
  background-color: #ffffff;
 
}


body {
  
  @media (max-width: $screen-xs-max) {
    padding-top: 41px;
  }
  @media (min-width: $screen-sm-min) {
    padding-top: $navbar-minheight;
  }

  //overflow-x: hidden;
}


.theme-section {
  
  > div {
    @extend .clearfix;  
    width: auto;
    padding: 2rem 2rem ($navbar-minheight * 2);
  }
  // @media (min-width: $screen-md-min) {
  //   padding-right: 10rem;
  // }
}

.footer {
  background-color: #ffffff;
  //background-color: aquamarine;
  border-top: 1px solid $gray-lighter;

  @media (max-width: $screen-sm-max) {
  }
  
  @media (min-width: $screen-md-min) {
  }

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: $navbar-minheight;
  height: $navbar-minheight; 
  
  p {
    margin-bottom: 0;
  }

  .footer-inner {
    padding: $navbar-padding-vertical 2rem 0;
    @extend .clearfix;
  }

  p {
    
    @media (max-width: $screen-xs-max) {        
        @include make-xs-column(6, 0);
      }

      @media (min-width: $screen-sm-min) {
        @include make-xs-column(8, 0);
      }  
  }

  .social {
      padding-left: 0;
      margin-bottom: 0;     
      list-style: none;
      text-align: right;

      
      @media (max-width: $screen-xs-max) {        
        @include make-xs-column(6, 0);
      }

      @media (min-width: $screen-sm-min) {
        @include make-xs-column(4, 0);
      }  


      li {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
      }

      //display: inline-block;

      
  }


}



/////////////////////


// .list {
//   padding-left: 0;
//   margin-bottom: 0;
//   list-style: none;

//   li:not(:last-child) {
//     margin-bottom: 15px;
//   }
// }





////////////////////


[class*="theme-grid--"] {
  $selectors: 1, 2, 3, 4, 5, 6, 8;

  @each $selector in $selectors {
    &[class*="--#{$selector}"] {
      @include make-md-column($selector);
    }  
  }

  //


  @media (max-width: $screen-sm-max) {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  
  @media (min-width: $screen-md-min) {
    &[class*="--left"] {
      padding-left: 0;
    }
    &[class*="--right"] {
       padding-right:0;
    }
  }  

}





