<div class="books">    
  <div class="header">
    <div>
      <!-- <h1 class="page-header" ng-show="show_title" ng-animate="{show: 'show'}" > -->
      <h1 class="page-header">
        {{ title }}
      </h1>
    </div>
  </div>

  <section class="theme-section">
    <div class="theme-section__inner">
      <div ng-if="!isAuthenticated()">  
        <div ng-include src="'includes/login.continue.tpl.html'"></div>
      </div>

      <div ng-if="isAuthenticated()">
        <div class="fadeZoom" ui-view></div>
      </div>      
    </div>
  </section>
</div>  