<div class="section-featured">
  <div class="theme-grid--left--8">
    <div class="mod-panel">
      <accordion>      
        <accordion-group heading="{{genre.name}}" ng-repeat="genre in genres" is-disabled="!genre.books.length">        
          <ul ng-show="genre.books.length">
            <li ng-repeat="book in genre.books">
              <a ui-sref="books.detail({bookID:book.id})">            
                {{ book.title}} <small><em>by {{ book.author }}</em></small>
              </a>            
            </li>
          </ul>
        </accordion-group>
      </accordion>
    </div>
  </div>
  
  <div class="theme-grid--right--4">
    <h4>Lorem Ipsum</h4>
    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>

    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s ...</p>
  </div>
</div>    