
//swatch
$s1 : darken(coral, 30);


////////////////////////////////////////////////////////////////////////



$gray:                   lighten(#000, 33.5%); // #555
  $gray-darker:            lighten(#000, 13.5%); // #222
  $gray-dark:              lighten(#000, 20%);   // #333
  $gray-light:             lighten(#000, 46.7%); // #777
  //$gray-lighter:           lighten(#000, 93.5%); // #eee
  $gray-lighter:           lighten(#000, 84%); // #d6d6d6
  


$brand-success:         #5cb85c;
$brand-info:            darken(desaturate(#5bc0de, 20), 10) !default;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;



/////////////////////////////////////////////


$body-bg:               transparent;
$text-color:            $gray-dark;
$link-color:            $gray-dark;
$link-hover-color:     $link-color;


$text-muted: $gray-darker;


////////////////////////////////////////////////////////////////////////
$nav-link-padding: 10px 1rem;
//$navbar-padding-vertical: .6rem;

$navbar-default-bg: rgba(#ffffff, .9) !default;
$navbar-default-link-color: desaturate(darken($gray-dark, 20), 5) !default;
$navbar-default-link-hover-color: $gray-dark !default;
$navbar-default-link-hover-bg: #ffffff !default;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-active-color: $gray-light !default;
$navbar-default-border: $gray-lighter;
$navbar-default-toggle-border-color: $gray-dark;
$navbar-default-toggle-hover-bg: #ffffff;
$navbar-default-toggle-icon-bar-bg: $gray-dark;



/////////////////////////////////////////////


$font-size-h1:          2.25rem; 
$font-size-h2:          1.865rem;
$font-size-h3:          1.5rem;
$font-size-h4:          1.125rem;
$font-size-h5:          .875rem;
$font-size-h6:          .75rem;





//$headings-font-family:;

/////////////////////////////////////////////



$transition-duration0:  .2s;
$transition-duration1:  .4s;
$transition-duration2:  .8s;
$transition-function:   ease-out;


//

// $color-c: DarkSlateGray;
// $color-h: #c00;



//

$font-path:         "fonts";





// $font-size-base:        14px;
// $line-height-base:      1.4219;
// $line-height-small:     1.4928;


$font-size-base:        16px;
$line-height-base:      1.625;
$line-height-small:     1.706;

// $font-size-base:        18px;
// $line-height-base:      1.8281;
// $line-height-small:     1.9192;







$input-bg: $gray-light;
$input-color: $gray-dark;
$input-border: transparent;







$border-radius-small: 2px;
$border-radius-base: 2px;
$border-radius-large: 2px;

$input-border-focus: #ccc;




$link-color: $gray-dark;

$state-success-text: #fff;
$state-success-bg: $brand-success;

$state-danger-text: $brand-danger;

$state-warning-text: #fff;
$state-warning-bg: $brand-warning;











//$state-danger-text: #fff;
$state-danger-bg: lighten($brand-danger, 5);

$hr-border:             $gray-dark;

$pre-bg: transparent;
$pre-border-color: $gray-darker;
$pre-color: $gray-dark;

$list-group-bg: transparent;
$list-group-border: $gray-dark;


$btn-primary-color: $gray-light;
$btn-danger-color: $gray-light;
$btn-info-color: $gray-light;

$well-bg: transparent;
$well-border: $gray-lighter;







// $dropdown-bg : $gray-light;
// $dropdown-border: $gray-dark;
// $dropdown-divider-bg : $gray-dark;

// $dropdown-link-color : $gray-dark;
// $dropdown-link-hover-color: $link-hover-color;




$tooltip-bg: #fff;
$tooltip-color: $gray-light;



$loading-bar-color: $gray-dark;




// $alert-danger-bg: #fff;
// $alert-warning-bg: $brand-warning;