<div class="mod-panel">
  <div class="panel panel-primary">
    <div class="panel-heading">Or sign in</div>

    <div class="panel-body">
      <button class="btn btn-block btn-primary" ng-click="authenticate('facebook')">
        <i class="fa fa-facebook"></i>&nbsp; Sign in with Facebook
      </button>

      <button class="btn btn-block btn-primary" ng-click="authenticate('google')">
        <span class="fa fa-google-plus"></span>&nbsp; Sign in with Google
      </button>

      <button class="btn btn-block btn-primary" ng-click="authenticate('twitter')">
        <i class="fa fa-twitter"></i>&nbsp; Sign in with Twitter
      </button>

      <button class="btn btn-primary btn-block" ng-click="authenticate('linkedin')" disabled>
        <i class="fa fa-linkedin"></i>&nbsp; Sign in with LinkedIn
      </button> 

      <button class="btn btn-primary btn-block" ng-click="authenticate('github')" disabled>
        <i class="fa fa-github"></i>&nbsp; Sign in with GitHub
      </button>

      <button class="btn btn-primary btn-block" ng-click="authenticate('foursquare')" disabled>
        <i class="fa fa-foursquare"></i>&nbsp; Sign in with Foursquare
      </button>
    </div>
  </div>
</div>