<div>
  <div class="header">
    <div>
      <!-- <h1 class="page-header" ng-show="show_title" ng-animate="{show: 'show'}" > -->
      <h1 class="page-header">
        Contacts
      </h1>
    </div>
  </div>
  
  <section class="theme-section">
    <div class="theme-section__inner">
      <div class="row">
        <div class="col-md-8">
            <div class="fadeZoom" ui-view></div>            
        </div>

        <div class="col-md-4">
          <div class="panel panel-inverse">
            <div class="panel-heading">
              <h3 class="panel-title">
                <i class="fa fa-male"></i>
                &nbsp;
                Contacts
              </h3>
            </div>

            <div class="panel-body">
              <ul class="list-unstyled">
                <li ng-class="{ active: $state.includes('contacts.list') }">
                  <a class="btn btn-link" ui-sref="contacts.list" ng-click="pleaseLogin()">All Contacts</a>
                </li>
                <li>
                  <a class="btn btn-link" ng-click="goToRandom()">Show random contact</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="panel panel-inverse">
            <div class="panel-heading">          
              <h3 class="panel-title">
                <i class="fa fa-area-chart"></i>
                &nbsp;
                Most visited
              </h3>
            </div>

            <div class="panel-body">
              <ul class="list-unstyled">
                <li ng-repeat="contact in contacts | limitTo:2" ui-sref-active="active">
                  <a class="btn btn-link" ui-sref="contacts.detail({contactId:contact.id})" ng-click="pleaseLogin()">{{contact.name}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>