<div>
  <div class="header">
    <div>
      <!-- <h1 class="page-header" ng-show="show_title" ng-animate="{show: 'show'}" > -->
      <h1 class="page-header">
        Contacts
      </h1>
    </div>
  </div>
  
  <section class="theme-section">
    <div class="theme-section__inner">
      <div ng-if="!isAuthenticated()">  
        <div ng-include src="'includes/login.continue.tpl.html'"></div>
      </div>

      <div class="row" ng-if="isAuthenticated()">
        <div class="col-md-8">
            <div class="fadeZ" ui-view></div>
            
            <br><br>              
            <!-- <div ui-view="menuTip"></div> -->     
        </div>

        <div class="sidebar col-md-4 mod-panel">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">
                <i class="fa fa-male"></i>
                &nbsp;
                Contacts
              </h3>
            </div>

            <div class="panel-body">
              <ul class="list-unstyled">
                <li ng-class="{ active: $state.includes('contacts.list') }">
                  <a class="btn btn-link" ui-sref="contacts.list">All Contacts</a>
                </li>
                <li>
                  <button class="btn btn-link" ng-click="goToRandom()">Show random contact</button>
                </li>
              </ul>
            </div>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">          
              <h3 class="panel-title">
                <i class="fa fa-area-chart"></i>
                &nbsp;
                Most visited
              </h3>
            </div>

            <div class="panel-body">
              <ul class="list-unstyled">
                <li ng-repeat="contact in contacts | limitTo:2" ui-sref-active="active">
                  <a class="btn btn-link" ui-sref="contacts.detail({contactId:contact.id})">{{contact.name}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>