.contact-detail {
  .form-control{
    &::selection {
      background-color: $ps-bg;
      color: $brand-primary;
    }
    &::-moz-selection {
      background-color: $ps-bg;
      color: $brand-primary;
    }
  }
}